* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(45deg, #030d6a, #74115a);
  background-size: cover; /* Ensures the gradient covers the whole screen */
  background-attachment: fixed; /* Ensures the background is fixed */

}